<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!--header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 main_header_left align-items-center">
                <figure class="errimg">
                    <img src="image/error.jpg" class="img-fluid" title=" jay kumar">
                </figure>
                <a href="/"><button>GO Back</button></a>
            </div>
        </div>
    </div>
    {{>footer}}

</body>
</html>
