<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!--header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="image/rose.jpg" class="img-fluid" title="kumar technical">
                </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
                <p>Welcome to Weather App</p>
                <h1>I am A <span class="text_color">Mern Stack Developer</span></h1>
                <a href="/weather"><button>Check Weather</button></a>
            </div>
           
        </div>
    </div>
    {{>footer}}

</body>
</html>
